@layer reset, base, compositions, shared, features, pages, utilities;

@import url("../kiso.css") layer(reset);

@property --gradient-alpha {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

@property --length {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@layer base {
  *,
  ::before,
  ::after {
    min-inline-size: 0;
  }

  :root {
    --ON: initial;
    --OFF: ;
    --color-lightest: #f7f7f7;
    --color-light-gray: #f3f4f6;
    --color-shaded-gray: #e5e7eb;
    --color-darkest: #000;
    --color-very-dark-blue: #111827;
    --color-desaturated-blue: #1f2937;
    --color-dark-grayish-blue: #374151;
    --color-dark-blue: #1e40af;
    --color-strong-blue: #0097d3;
    --color-soft-blue: #60a5fa;
    --color-bright-blue: #3b82f6;
    --foreground-base: light-dark(
      var(--color-desaturated-blue),
      var(--color-light-gray)
    );
    --foreground-primary: light-dark(
      var(--color-strong-blue),
      var(--color-soft-blue)
    );
    --foreground-secondary: light-dark(
      var(--color-dark-blue),
      var(--color-bright-blue)
    );
    --background-base: light-dark(
      var(--color-lightest),
      var(--color-very-dark-blue)
    );
    --background-lighten: light-dark(
      var(--color-light-gray),
      var(--color-desaturated-blue)
    );
    --code-background: light-dark(
      var(--color-light-gray),
      var(--color-desaturated-blue)
    );
    --border-color: light-dark(
      var(--color-shaded-gray),
      var(--color-dark-grayish-blue)
    );
    --font-montserrat: "Montserrat", sans-serif;
    --leading-tight: 1.25;
    --leading-normal: 1.5;
    --leading-relaxed: 1.75;
    --rounded-md: 12px;
    --rounded-lg: 32px;
    --design-base-max-width: 1280px;
    --design-base-min-width: 375px;

    background-color: var(--background-base);
    color: var(--foreground-base);
    text-underline-offset: calc((1lh - 1em) / 2);
    -webkit-font-smoothing: antialiased;

    &:lang(ja) {
      font-kerning: none;
    }

    &:has(:target):not(:has(:focus-visible)) {
      @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
      }
    }
  }

  :where(:lang(en)) {
    font-family: var(--font-montserrat);
    font-size-adjust: cap-height from-font;
    font-kerning: normal;
  }

  :where(h1, h2, h3, h4, h5, h6, caption) {
    font-kerning: normal;

    &:lang(en) {
      text-wrap: balance;
    }

    &:lang(ja) {
      font-feature-settings: "palt";

      @supports (word-break: auto-phrase) {
        text-wrap: balance;
        word-break: auto-phrase;
      }
    }
  }

  :where(h1) {
    margin-block: unset;
  }

  :where(pre) {
    overflow-inline: auto;
    overflow-block: clip;
    overscroll-behavior-inline: contain;

    @supports not (overflow-inline: auto) {
      overflow: auto clip;
    }
  }

  :where(:focus-visible) {
    --_b-ring-thickness: 3px;
    --_b-ring-offset: 3px;

    box-shadow: 0 0 0 calc(var(--_b-ring-offset) + var(--_b-ring-thickness))
      Canvas !important;
    outline: var(--_b-ring-thickness) solid CanvasText;
    outline-offset: var(--_b-ring-offset);
  }
}

@layer compositions {
  .flow {
    display: block flow-root;

    & > * + * {
      margin-block-start: var(--flow--space, 1.5rlh);
    }
  }

  .grid {
    --_c-mode: var(--grid--mode, auto-fit);
    --_c-row-gap: var(--grid--row-gap, 1.5rem);
    --_c-column-gap: var(--grid--column-gap, 1.5rem);
    --_c-column-max-count: var(--grid--column-max-count, 5);
    --_c-column-min-width: var(--grid--column-min-width, 20rem);

    /* コンテナの横幅からギャップの合計値を引いたものをn等分する */
    --_c-column-width-calculated: calc(
      (100% - var(--_c-column-gap) * (var(--_c-column-max-count) - 1)) /
        var(--_c-column-max-count)
    );

    /* 最終的に適用される列の幅。理想の幅と最小幅を比較し、大きい方を採用します。*/
    --_c-column-width: min(
      100%,
      max(var(--_c-column-min-width), var(--_c-column-width-calculated))
    );

    display: block grid;
    grid-template-columns: repeat(
      var(--_c-mode),
      minmax(var(--_c-column-width), 1fr)
    );
    gap: var(--_c-row-gap) var(--_c-column-gap);
  }

  .cluster {
    --_c-row-gap: var(--cluster--row-gap, 1rem);
    --_c-column-gap: var(--cluster--column-gap, 1rem);
    --_c-justify: var(--cluster--justify, start);
    --_c-items: var(--cluster--items, center);
    --_c-content: var(--cluster--content, start);

    display: block flex;
    flex-wrap: wrap;
    gap: var(--_c-row-gap) var(--_c-column-gap);
    place-content: var(--_c-content) var(--_c-justify);
    align-items: var(--_c-items);
  }

  .full-bleed {
    --_c-content-max-width: var(--full-bleed--content-max-width, 64rem);
    --_c-breakout-max-width: var(
      --full-bleed--breakout-max-width,
      calc(var(--_c-content-max-width) + 10rem * 2)
    );
    --_c-gutter: var(--full-bleed--gutter, max(16px, 5%));
    --_c-row-gap: var(--full-bleed--row-gap, 0px);

    --_c-breakout-area-width: calc(
      (var(--_c-breakout-max-width) - var(--_c-content-max-width)) / 2
    );
    --_c-content-area-width: min(
      var(--_c-content-max-width),
      100% - var(--_c-gutter) * 2
    );

    display: block grid;
    grid-template-columns:
      [--full-start]
      minmax(var(--_c-gutter), 1fr)
      [--breakout-start]
      minmax(0, var(--_c-breakout-area-width))
      [--content-start]
      var(--_c-content-area-width)
      [--content-end]
      minmax(0, var(--_c-breakout-area-width))
      [--breakout-end]
      minmax(var(--_c-gutter), 1fr)
      [--full-end];
    row-gap: var(--_c-row-gap);
    align-content: start;

    & > * {
      grid-column: var(--full-bleed--column, --content);
    }
  }
}

@layer utilities {
  [class*="-fluid-text"] {
    --_u-relative-max-width: var(--fluid-text--relative-max-width, 1280);
    --_u-relative-min-width: var(--fluid-text--relative-min-width, 375);
    --_u-min-font-size: var(--fluid-text--min-font-size, 14);
    --_u-max-font-size: var(--fluid-text--max-font-size, 16);
    --_u-base-font-size: var(--fluid-text--base-font-size, 16);
    --_u-relative-unit: var(
      --fluid-text--relative-unit,
      100svi
    ); /* 100svi or 100cqi */

    /* slope and intercept calculations */
    --_u-fluid-slope: calc(
      (var(--_u-max-font-size) - var(--_u-min-font-size)) /
        (var(--_u-relative-max-width) - var(--_u-relative-min-width))
    );
    --_u-fluid-intercept: calc(
      var(--_u-min-font-size) - var(--_u-fluid-slope) *
        var(--_u-relative-min-width)
    );

    font-size: clamp(
      var(--_u-min-font-size) / var(--_u-base-font-size) * 1rem,
      var(--_u-fluid-slope) * var(--_u-relative-unit) +
        var(--_u-fluid-intercept) / var(--_u-base-font-size) * 1rem,
      var(--_u-max-font-size) / var(--_u-base-font-size) * 1rem
    );
  }

  .-fluid-text--sm {
    --fluid-text--min-font-size: 12;
    --fluid-text--max-font-size: 14;
  }

  .-fluid-text--md {
    --fluid-text--min-font-size: 16;
    --fluid-text--max-font-size: 20;
  }

  .-fluid-text--lg {
    --fluid-text--min-font-size: 20;
    --fluid-text--max-font-size: 24;
  }

  .-text-center {
    text-align: center;
    text-wrap: balance;
  }

  .-trim-both {
    text-box-trim: trim-both;

    &:lang(en) {
      text-box-edge: cap alphabetic;
    }
  }

  .-text-link {
    --_text-link--foreground: var(
      --text-link--foreground,
      var(--foreground-primary)
    );

    color: var(--_text-link--foreground);
    text-decoration-line: revert;
    transition-duration: 300ms;
    transition-property: text-decoration-color;

    &:focus-visible {
      text-decoration-color: transparent;
    }

    &:any-link:hover {
      @media (any-hover) {
        text-decoration-color: transparent;
      }
    }
  }

  .-kerning {
    font-kerning: normal;

    &:lang(ja) {
      font-feature-settings: "palt";
    }
  }

  .-hanging {
    hanging-punctuation: last allow-end;

    &:lang(en) {
      hanging-punctuation: first allow-end last;
    }
  }

  .-uppercase {
    text-transform: uppercase;
  }

  .-auto-phrase {
    &:lang(ja) {
      @supports (word-break: auto-phrase) {
        text-wrap: balance;
        word-break: auto-phrase;
      }
    }
  }

  .-br {
    display: contents;

    &:lang(ja) {
      display: block flow;
    }
  }

  .-wbr {
    display: contents;

    &:lang(ja) {
      display: inline flow-root;
    }
  }
}
