@layer reset, base, compositions, shared, features, pages, utilities;

@import url("../kiso.css") layer(reset);

@property --gradient-alpha {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 100%;
}

@property --length {
  syntax: "<length>";
  inherits: true;
  initial-value: 0;
}

@layer base {
  :root {
    --ON: initial;
    --OFF: ;
    --color-lightest: #f7f7f7;
    --color-light-gray: #f3f4f6;
    --color-shaded-gray: #e5e7eb;
    --color-darkest: #000;
    --color-very-dark-blue: #111827;
    --color-desaturated-blue: #1f2937;
    --color-dark-grayish-blue: #374151;
    --color-dark-blue: #1e40af;
    --color-strong-blue: #0097d3;
    --color-soft-blue: #60a5fa;
    --color-bright-blue: #3b82f6;
    --foreground-base: light-dark(
      var(--color-desaturated-blue),
      var(--color-light-gray)
    );
    --foreground-primary: light-dark(
      var(--color-strong-blue),
      var(--color-soft-blue)
    );
    --foreground-secondary: light-dark(
      var(--color-dark-blue),
      var(--color-bright-blue)
    );
    --background-base: light-dark(
      var(--color-lightest),
      var(--color-very-dark-blue)
    );
    --background-lighten: light-dark(
      var(--color-light-gray),
      var(--color-desaturated-blue)
    );
    --code-background: light-dark(
      var(--color-light-gray),
      var(--color-desaturated-blue)
    );
    --border-color: light-dark(
      var(--color-shaded-gray),
      var(--color-dark-grayish-blue)
    );
    --font-montserrat: "Montserrat", sans-serif;
    --leading-tight: 1.25;
    --leading-normal: 1.5;
    --leading-relaxed: 1.75;
    --rounded-md: 12px;
    --rounded-lg: 32px;
    --content-max-width: 64rem;
    --content-padding-inline: clamp(16px, 16 / 375 * 100svi, 32px);

    background-color: var(--background-base);
    color: var(--foreground-base);
    text-underline-offset: calc((1lh - 1em) / 2);
    -webkit-font-smoothing: antialiased;

    &:has(:target):not(:has(:focus-visible)) {
      @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
      }
    }
  }

  :where(:lang(en)) {
    font-kerning: normal;
  }

  :where(:lang(ja)) {
    font-kerning: none;
  }

  :where(h1, h2, h3, h4, h5, h6, caption) {
    font-kerning: normal;

    &:lang(ja) {
      font-feature-settings: "palt";
      word-break: auto-phrase;
    }
  }

  :where(h1) {
    margin-block: unset;
  }
}

@layer compositions {
  .composable-flow {
    display: block flow-root;

    & > * + * {
      margin-block-start: var(--composable-flow--space, 1.5rlh);
    }
  }

  .composable-grid {
    --_c-fill-mode: var(--composable-grid--fill-mode, auto-fit);
    --_c-row-gap: var(--composable-grid--row-gap, 1.5rem);
    --_c-column-gap: var(--composable-grid--column-gap, 1.5rem);
    --_c-column-max-count: var(--composable-grid--column-max-count, 5);
    --_c-column-min-width: var(--composable-grid--column-min-width, 20rem);

    /* コンテナの横幅からギャップの合計値を引いたものをn等分する */
    --_c-column-width-calculated: calc(
      (100% - var(--_c-column-gap) * (var(--_c-column-max-count) - 1)) /
        var(--_c-column-max-count)
    );

    /* 最終的に適用される列の幅。理想の幅と最小幅を比較し、大きい方を採用します。*/
    --_c-column-width: min(
      100%,
      max(var(--_c-column-min-width), var(--_c-column-width-calculated))
    );

    display: block grid;
    grid-template-columns: repeat(
      var(--_c-fill-mode),
      minmax(var(--_c-column-width), 1fr)
    );
    gap: var(--_c-row-gap) var(--_c-column-gap);
  }

  .composable-cluster {
    --_c-row-gap: var(--composable-cluster--row-gap, 1rem);
    --_c-column-gap: var(--composable-cluster--column-gap, 1rem);
    --_c-justify-content: var(--composable-cluster--justify-content, start);
    --_c-align-items: var(--composable-cluster--align-items, center);
    --_c-align-content: var(--composable-cluster--align-content, start);

    display: block flex;
    flex-wrap: wrap;
    gap: var(--_c-row-gap) var(--_c-column-gap);
    place-content: var(--_c-align-content) var(--_c-justify-content);
    align-items: var(--_c-align-items);
  }

  .composable-full-bleed {
    --_c-content-max-width: var(
      --composable-full-bleed--content-max-width,
      var(--content-max-width)
    );
    --_c-breakout-max-width: var(
      --composable-full-bleed--breakout-max-width,
      calc(var(--content-max-width) + 10rem * 2)
    );
    --_c-padding-inline: var(
      --composable-full-bleed--padding-inline,
      var(--content-padding-inline)
    );
    --_c-row-gap: var(--composable-full-bleed--row-gap, 0px);

    --_c-breakout-area-width: calc(
      (var(--_c-breakout-max-width) - var(--_c-content-max-width)) / 2
    );
    --_c-content-area-width: min(
      var(--_c-content-max-width),
      100% - var(--_c-padding-inline) * 2
    );

    display: block grid;
    grid-template-columns:
      [--full-start]
      minmax(var(--_c-padding-inline), 1fr)
      [--breakout-start]
      minmax(0, var(--_c-breakout-area-width))
      [--content-start]
      var(--_c-content-area-width)
      [--content-end]
      minmax(0, var(--_c-breakout-area-width))
      [--breakout-end]
      minmax(var(--_c-padding-inline), 1fr)
      [--full-end];
    row-gap: var(--_c-row-gap);
    align-content: start;

    & > * {
      grid-column: var(--composable-full-bleed--column, --content);
    }
  }
}

@layer shared {
  @scope (.shared-section.scope) to (.scope) {
    * {
      --composable-flow--space: 2rlh;
    }
  }

  @scope (.shared-heading.scope) to (.scope) {
    :scope {
      --fluid-text--min-font-size: 20;
      --fluid-text--max-font-size: 24;

      line-height: var(--leading-tight);
    }

    ._body {
      &::after {
        content: "";
        display: block flow;
        inline-size: min(2em, 100%);
        margin-block-start: 0.75rlh;
        margin-inline: auto;
        border-block-end: 4px solid;
      }
    }
  }

  @scope (.shared-button.scope) to (.scope) {
    :scope {
      --_accent-primary: #8474fe;
      --_accent-secondary: #4d36d0;

      display: inline grid;
      vertical-align: bottom;
    }

    ._body {
      padding-block: 0.75em;
      padding-inline: 1em;
      border: 1px solid transparent;
      border-radius: var(--rounded-md);
      box-shadow: 0 12px 20px -8px oklch(from var(--_accent-secondary) l c h /
            10%);
      background-color: var(--_accent-secondary);
      background-image: linear-gradient(
        to bottom,
        oklch(from var(--_accent-primary) l c h / var(--gradient-alpha)),
        oklch(from var(--_accent-secondary) l c h / var(--gradient-alpha))
      );
      background-origin: border-box;
      color: var(--color-lightest);
      transition-duration: 300ms;
      transition-property: --gradient-alpha;

      @supports (corner-shape: squircle) {
        border-radius: var(--rounded-lg);
        corner-shape: squircle;
      }

      &:focus-visible {
        --gradient-alpha: 0%;
      }

      &:any-link:hover {
        @media (any-hover) {
          --gradient-alpha: 0%;
        }
      }
    }
  }

  @scope (.shared-github-button.scope) to (.scope) {
    :scope {
      --_background-default: var(--color-darkest);
      --_background-hocus: oklch(from var(--_background-default) 30% c h);

      display: inline grid;
      vertical-align: bottom;
    }

    ._body {
      display: inherit;
      grid-template-columns: 1em 1fr;
      column-gap: 0.5ch;
      align-items: center;
      padding-block: 0.75em;
      padding-inline: 1em;
      border: 1px solid transparent;
      border-radius: var(--rounded-md);
      box-shadow: 0 12px 20px -8px oklch(from var(--color-darkest) l c h / 10%);
      background-color: var(--_background-default);
      color: var(--color-lightest);
      transition-duration: 300ms;
      transition-property: background-color;

      @supports (corner-shape: squircle) {
        border-radius: var(--rounded-lg);
        corner-shape: squircle;
      }

      &:focus-visible {
        background-color: var(--_background-hocus);
      }

      &:any-link:hover {
        @media (any-hover) {
          background-color: var(--_background-hocus);
        }
      }

      & > svg {
        inline-size: 100%;
      }
    }
  }
}

@layer features {
  @scope (.site-header.scope) to (.scope) {
    :scope {
      container: --site-header / inline-size;
      border-block-end: 1px solid var(--border-color);
      background-color: var(--background-lighten);
    }

    ._full-bleed {
      --length: 3rlh;
      --composable-full-bleed--content-max-width: var(--content-max-width);
      --composable-full-bleed--padding-inline: var(--content-padding-inline);
      --composable-full-bleed--row-gap: 2rlh;
      --composable-full-bleed--column: initial;

      padding-block: clamp(
        3rlh,
        tan(atan2(var(--length), 375px)) * 100cqi,
        6rlh
      );
    }

    ._heading {
      --composable-flow--space: 1rlh;

      line-height: var(--leading-tight);
    }

    ._title {
      --fluid-text--min-font-size: 40;
      --fluid-text--max-font-size: 48;

      font-family: var(--font-montserrat);
      font-size-adjust: cap-height from-font;
      line-height: var(--leading-tight);

      @media (forced-colors: none) {
        background-image: linear-gradient(
          135deg,
          oklch(from var(--foreground-primary) calc(l - 0.1) c h),
          oklch(from var(--foreground-primary) calc(l + 0.1) c h)
        );
        background-clip: text;
        color: transparent;
      }
    }

    ._tagline {
      --fluid-text--min-font-size: 16;
      --fluid-text--max-font-size: 20;

      letter-spacing: 0.03em;
    }

    ._actions-list {
      --composable-cluster--row-gap: 1ex;
      --composable-cluster--column-gap: 1rem;
      --composable-cluster--justify-content: center;
    }
  }

  @scope (.features-cards.scope) to (.scope) {
    :scope {
      --_column-min-width: 25rem;

      container: --features-cards / inline-size;
    }

    ._main-grid {
      --composable-grid--row-gap: clamp(16px, 16 / 375 * 100cqi, 24px);
      --composable-grid--column-gap: clamp(16px, 16 / 375 * 100cqi, 24px);
      --composable-grid--column-max-count: 2;
      --composable-grid--column-min-width: var(--_column-min-width);

      & > * {
        grid-row: span 2;
      }
    }

    ._card {
      --length: var(--_column-min-width);

      display: block grid;
      grid-template-columns: subgrid;
      gap: 1rlh 0;
      align-content: start;
      padding-block: 1.5rlh;
      padding-inline: clamp(24px, tan(atan2(24px, var(--length))) * 100%, 32px);
      border: 1px solid var(--border-color);
      border-radius: var(--rounded-md);
      background-color: var(--background-lighten);

      @supports (corner-shape: squircle) {
        border-radius: var(--rounded-lg);
        corner-shape: squircle;
      }
    }

    ._heading {
      --fluid-text--min-font-size: 16;
      --fluid-text--max-font-size: 20;

      display: block flex;
      column-gap: 0.5em;
      color: var(--foreground-primary);
      line-height: var(--leading-tight);
    }

    ._description {
      --composable-flow--space: 0.5lh;

      line-height: var(--leading-relaxed);

      & > p {
        inline-size: round(down, 100%, 1ic);
        inline-size: calc-size(auto, round(down, size, 1ic));
      }
    }
  }

  @scope (.installation-method.scope) to (.scope) {
    :scope {
      container: --installation-method / inline-size;
    }

    * {
      --composable-flow--space: 1rlh;
    }

    ._heading {
      --fluid-text--min-font-size: 16;
      --fluid-text--max-font-size: 20;
    }

    ._code {
      display: block grid;
      overflow: auto clip;
      overscroll-behavior-inline: contain;
      padding-block: 1rlh;
      padding-inline: 3ch;
      border: 1px solid var(--border-color);
      border-radius: var(--rounded-md);
      corner-shape: squircle;
      background-color: var(--code-background);
      white-space: nowrap;
    }
  }

  @scope (.site-footer.scope) to (.scope) {
    :scope {
      container: --site-footer / inline-size;
      border-block-end: 1px solid var(--border-color);
      background-color: var(--background-lighten);
      font-family: var(--font-montserrat);
    }

    ._full-bleed {
      --length: 2rlh;
      --composable-full-bleed--content-max-width: var(--content-max-width);
      --composable-full-bleed--padding-inline: var(--content-padding-inline);
      --composable-full-bleed--row-gap: 1.5rlh;
      --composable-full-bleed--column: initial;

      padding-block: clamp(
        2rlh,
        tan(atan2(var(--length), 375px)) * 100cqi,
        3rlh
      );
    }

    ._nav-list {
      --composable-cluster--row-gap: 0.5em;
      --composable-cluster--column-gap: 1em;
      --composable-cluster--justify-content: center;
    }
  }
}

@layer pages {
  @scope (.home-page.scope) to (.scope) {
    main {
      --composable-flow--space: 3rlh;
    }

    ._full-bleed {
      --length: 2rlh;
      --composable-full-bleed--content-max-width: var(--content-max-width);
      --composable-full-bleed--padding-inline: var(--content-padding-inline);
      --composable-full-bleed--row-gap: clamp(
        2rlh,
        tan(atan2(var(--length), 375px)) * 100svi,
        3rlh
      );

      & > ._header,
      & > ._footer {
        --composable-full-bleed--column: --full;
      }
    }
  }
}

@layer utilities {
  .-fluid-text {
    --_fluid-text--min-width: var(--fluid-text--min-width, 375);
    --_fluid-text--max-width: var(--fluid-text--max-width, 1280);
    --_fluid-text--min-font-size: var(--fluid-text--min-font-size, 14);
    --_fluid-text--max-font-size: var(--fluid-text--max-font-size, 16);
    --_fluid-text--base-font-size: var(--fluid-text--base-font-size, 16);
    --_fluid-text--relative-unit: var(
      --fluid-text--relative-unit,
      100svi
    ); /* 100svi or 100cqi */

    /* slope and intercept calculations */
    --_fluid-text--slope: calc(
      (var(--_fluid-text--max-font-size) - var(--_fluid-text--min-font-size)) /
        (var(--_fluid-text--max-width) - var(--_fluid-text--min-width))
    );
    --_fluid-text--intercept: calc(
      var(--_fluid-text--min-font-size) - var(--_fluid-text--slope) *
        var(--_fluid-text--min-width)
    );
    --_fluid-text--font-size: clamp(
      var(--_fluid-text--min-font-size) / var(--_fluid-text--base-font-size) *
        1rem,
      var(--_fluid-text--slope) * var(--_fluid-text--relative-unit) +
        var(--_fluid-text--intercept) / var(--_fluid-text--base-font-size) *
        1rem,
      var(--_fluid-text--max-font-size) / var(--_fluid-text--base-font-size) *
        1rem
    );

    font-size: var(--_fluid-text--font-size);
  }

  .-text-center {
    text-align: center;
    text-wrap: balance;
  }

  .-trim-both {
    text-box-trim: trim-both;

    &:lang(en) {
      text-box-edge: cap alphabetic;
    }
  }

  .-text-link {
    --_text-link--foreground: var(
      --text-link--foreground,
      var(--foreground-primary)
    );

    color: var(--_text-link--foreground);
    text-decoration-line: revert;
    transition-duration: 300ms;
    transition-property: text-decoration-color;

    &:focus-visible {
      text-decoration-color: transparent;
    }

    &:any-link:hover {
      @media (any-hover) {
        text-decoration-color: transparent;
      }
    }
  }

  .-kerning {
    font-kerning: normal;

    &:lang(ja) {
      font-feature-settings: "palt";
    }
  }

  .-hanging {
    hanging-punctuation: last allow-end;

    &:lang(en) {
      hanging-punctuation: first allow-end last;
    }
  }

  .-uppercase {
    text-transform: uppercase;
  }

  .-auto-phrase {
    &:lang(ja) {
      word-break: auto-phrase;
    }
  }

  .-br {
    display: contents;

    &:lang(ja) {
      display: block flow;
    }
  }

  .-wbr {
    display: contents;

    &:lang(ja) {
      display: inline flow-root;
    }
  }
}
